.background {
    background-color: silver;
}
.paper {
    background-color: white;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr minmax(752px,936px) 1fr;
    grid-template-rows: 1fr;
    height: 200vh;
}