@use "../setting/index" as *;

// --------------------------------------------------

.l_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 9999;
	width: 100%;
  padding: 16px 60px;
	background: $background_lightBlue;

	@include w1000 {
		position: fixed;
		top: 0;
		left: 0;
	}

	h1 {
		margin: 0;
		font-size: 10px;
		line-height: 1;

		img {
			width: auto;
			height: 30px;

			@include w600 {
				height: 48px;
			}
		}
	}

	.head_logo {
		width: 175px;
		height: 36px;
		vertical-align: unset;
	}

	nav {
		display: none;
		gap: 40px;

		@include w1000 {
			display: flex;
		}

		.l_header_menu {
			display: flex;
			gap: 38px;
			margin: 0;
			font-weight: bold;
			font-size: 12px;
			line-height: 44px;

			li {
				a {
					color: $color_black;
					text-decoration: none;
				}
			}
		}

		.l_header_button {
			display: flex;
			gap: 16px;
			margin: 0;
			font-weight: bold;
			font-size: 12px;
			line-height: 48px;

			@include w1400 {
				gap: 20px;
				font-size: 14px;
			}

			li {
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 4px;
					width: 120px;
					height: 40px;
					border-radius: 24px;
					color: $color_white;
					text-decoration: none;
					text-align: center;

					&.l_header_button_request {
						background: $background_orange;
						font-weight: bold;
						font-size: 12px;
						line-height: 48px;

						img {
							width: 15px;
						}
					}

					&.l_header_button_contact {
						background: $color_black;
						font-weight: bold;
						font-size: 12px;
						line-height: 48px;

						img {
							width: 18px;
							height: 14px;
						}
					}
				}
			}
		}
	}
}



.l_header_navigation_hamburger {
	position: relative;
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: 1s;

	@include w1000 {
		display: none;
	}

	&::before,
	&::after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 24px;
		height: 2px;
		border-radius: 1px;
		background: #24245E;
		content: "";
		transition: 0.2s;
		backface-visibility: hidden;
		perspective: 1000;
	}

	&::before {
		transform: translate(0, 3px);
		transform-origin: left center;
	}

	&::after {
		transform: translate(0, 19px);
		transform-origin: left center;
	}

	span {
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 1;
		transform: translateY(-50%);
		width: 24px;
		height: 2px;
		border-radius: 1px;
		background: #24245E;
		transition: 0.2s;
	}

	&.js_active {
		&::before {
			transform: translate(0, -1px) rotate(45deg) scaleX(1.41);
		}

		&::after {
			transform: translate(0, 23px) rotate(-45deg) scaleX(1.41);
		}

		span {
			opacity: 0;
		}
	}
}


.l_navigation {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9998;
	width: 100%;
	height: 100%;
	padding-top: 60px;
	background: linear-gradient(100deg, $background_gradation);

	@include w600 {
		padding-top: 80px;
	}
}

.l_navigation_layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.l_navigation_menu {
	margin: 0;
	font-size: 16px;
	text-align: center;

	li {
		&:not(:last-of-type) {
			margin-bottom: 1em;
		}

		a {
			color: #FFF;
			text-decoration: none;
		}
	}
}

.l_navigation_button {
	margin: 2em 0 0;
	font-size: 16px;

	li {
		&:not(:last-of-type) {
			margin-bottom: 1em;
		}

		a {
			display: flex;
			justify-content: center;
			gap: 10px;
			width: 240px;
			padding: 20px;
			border-radius: 30px;
			color: $color_white;
			text-decoration: none;
			line-height: 20px;
			text-align: center;

			&.gradation {
				background: $background_orange;
			}

			&.black {
				background: $background_black;
			}
		}
	}
}
