/* キャッチコピー パート */
.copy_sub {
  border-bottom: 4px solid #000;
  width: fit-content;
  font-weight: bold;
  font-size: 1.7vw;
  line-height: 3vw;
}
.copy_main_top {
  font-size: 2.45vw;
  letter-spacing: 0.02vw;
  line-height: 1.15;
  margin-top: 1.2vw;

  span {
    color: #D12F91;
    font-size: 3.1vw;
    letter-spacing: 0.02vw;
    line-height: 1.15;
    font-weight: bold;
  }
}
.copy_main_middle {
  font-weight: bold;
  font-size: 4.3vw;
  letter-spacing: 0.02vw;
  line-height: 1.7;
}
.lead_logo {
  height: 6.2vw;
  margin-top: 1.2vw;
  width: auto;
}
.minvisual_button_box {
  margin-top: 3vw;
  display: flex;
  gap: 1.3vw;
  align-items: center;
}
.request_button {
  font-size: 1.9vw;
  border-radius: 1000px;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  border: 0.2vw solid #3AC0C4;
  color: #3AC0C4;
  width: 24.7vw;
  height: 6.2vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 0.4vw;
  letter-spacing: -0.1vw;

  &:hover {
    opacity: 1;
    color: white;
    background-color: #3AC0C4;
  }

  span {
    font-size: 1.3vw;
    font-weight: normal;
    letter-spacing: -0.1vw;
  }
}
.inquiry_button {
  font-size: 1.9vw;
  border-radius: 1000px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  border-width: 0;
  border-style: solid;
  border-color: #D12F91;
  background: transparent linear-gradient(270deg, #A940C9 0%, #D12F91 100%) 0% 0% no-repeat padding-box;
  width: 24.7vw;
  height: 6.2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  letter-spacing: -0.1vw;

  &:hover {
    background: white;
    opacity: 1;
    color: #D12F91;
    border-width: 0.2vw;

    span {
      border-bottom: 0.2vw solid #D12F91;
    }
  }

  span {
    font-size: 1.3vw;
    font-weight: normal;
    letter-spacing: -0.1vw;
    border-bottom: 0.2vw solid white;
    line-height: 2vw;
  }
}
.new_c_block {
  position: relative;
  overflow: hidden;
  width: fit-content;
}
.dummy_smartphone {
  height: 35.2vw;
  aspect-ratio: 214/457;
  margin-left: 17vw;
}

/* スマホ対応 767px以下 ~ */
@media screen and (max-width: 767px) {
  .new_c_block {
    width: 94%;
    padding-top: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .dummy_smartphone {
    display: none;
  }
  .copy_sub {
    font-size: 4.4vw;
    text-align: center;
    line-height: 8vw;
  }
  .copy_main_top {
    font-size: 5vw;
    line-height: 11vw;
    margin-top: 1vw;

    span {
      font-size: 5.4vw;
    }
  }
  .copy_main_middle {
    font-size: 7.7vw;
    line-height: 6vw;
    white-space: nowrap;
  }
  .lead_logo {
    height: 17vw;
    margin-top: 6.2vw;
  }
  .minvisual_button_box {
    margin-top: 75vw;
    display: flex;
    gap: 2vw;
    align-items: center;
    width: 100%;
  }
  .request_button {
    height: 12.7vw;
    width: 50%;
    flex: 1;
    font-size: 4.2vw;
    border: 0.5vw solid #3AC0C4;
    letter-spacing: 0;

    span {
      font-size: 3.3vw;
      letter-spacing: 0;
    }
  }
  .inquiry_button {
    height: 12.7vw;
    width: 50%;
    flex: 1;
    font-size: 4.3vw;
    font-weight: bold;
    gap: 1.3vw;

    span {
      font-size: 2.3vw;
      line-height: 3.8vw;
      border-bottom: 0.4vw solid white;
    }
  }
}
/* キャッチコピー パート */

/* Probrem パート */
.section_probrem {
  background-color: #F5F3FB;
  padding-bottom: 35px;
}
.probrem_title {
  color: #24245E;
  font-size: 32px;
  text-align: center;
  line-height: 62.4px;
  font-weight: bold;
  letter-spacing: 0;
  padding-top: 32px;

  &::before {
    content: '“';
    color: white;
    font-size: 48px;
    letter-spacing: 0.77px;
    line-height: 48px;
  }

  &::after {
    content: '”';
    color: white;
    font-size: 48px;
    letter-spacing: 0.77px;
    line-height: 48px;
  }
}
.probrem_title_en {
  color: #3AC0C4;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 14px;
  text-align: center;
}
.probrem_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 24px;
  max-width: 1000px;
  margin: 46px auto 0;
}
.probrem {
  width: 468px;
  height: 131px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.people_img {
  display: block;
  width: 104px;
  min-width: 104px;
  height: 104px;
}
.bubble {
  background-color: white;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-inline: 22px;

  &::before {
    content: "";
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 25px 14px 0;
    border-color: transparent #ffffff transparent transparent;
  }
  &.bubble_lg {
    padding-block: 24px;
  }
  &.bubble_sm {
    padding-block: 14px;
  }
}
.bubble_text_main {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28.8px;
  color: #24245E;

  span {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28.8px;
    color: #D12F91;
  }
}
.bubble_text_sub {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  color: #24245E;
}
.bubble_text_margin {
  margin-top: 6px;
}
@media screen and (max-width: 767px) {
  .section_probrem {
    padding-bottom: 9.6vw;
  }
  .probrem_title {
    font-size: 8.5vw;
    line-height: 16vw;
    letter-spacing: 0;
    padding-top: 8.5vw;
  }
  .probrem_title_en {
    font-size: 3.8vw;
    line-height: 5vw;
    letter-spacing: 0;
  }
  .probrem_list {
    margin-top: 7vw;
    padding-inline: 4.3vw;
    gap: 3.4vw;
  }
  .probrem {
    width: 100%;
    height: auto;
    gap: 6vw;
  }
  .people_img {
    width: 23.3vw;
    height: 23.3vw;
    min-width: 23.3vw;
  }
  .bubble_text_main {
    font-size: 4.1vw;
    line-height: 6vw;

    span {
      font-size: 4.1vw;
      line-height: 6vw;
    }
  }
  .bubble_text_sub {
    font-size: 3.2vw;
    line-height: 4vw;
    padding-inline: 8vw;
  }
  .bubble_text_margin {
    margin-top: 3vw;
  }
  .bubble {
    border-radius: 2vw;
    padding-inline: 0;

    &::before {
      left: -4vw;
      border-width: 4vw 7vw 4vw 0;
    }
    &.bubble_lg {
      padding-block: 3.5vw;
    }
    &.bubble_sm {
      padding-block: 3vw;
    }
  }
}
/* Probrem パート */

/* Functions パート */
.section_functions {
  background: transparent url('../../img/tiglivev2/needs_bg.png') 0% 0% repeat padding-box;
  background-size: 85px 85px;
  padding-bottom: 80px;
  padding-top: 34px;
}
.success_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #24245E;
}
.line_left, .line_right {
  content: "";
  display: inline-block;
  width: 40px;
  border-top: 4px solid #24245E;
  transform: rotate(45deg);
  margin-top: 30px;
}
.line_right {
  transform: rotate(-45deg);
}
.text_with_dots {
  text-align: center;
  padding: 0 4px;

  .top_dots span {
    display: inline-block;
    font-size: 10px;
    color: #E54D92;
    letter-spacing: 22px;
  }
  .dots_space {
    margin-left: 21px;
  }
  .section_top_text {
    font-size: 24px;
    font-weight: bold;
    color: #24245E;
    letter-spacing: 0;
    line-height: 27px;

    span {
      font-size: 32px;
      font-weight: bold;
      color: #24245E;
      letter-spacing: 0;
      line-height: 27px;
    }
  }
}
.success_main_text {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin-top: 21px;

  .marker_text {
    color: #24245E;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 62.4px;
    margin-right: 4px;
    margin-top: 4px;
    text-decoration: underline;
    text-decoration-color: #FBFF75;
    text-decoration-thickness: 18px;
    text-underline-offset: -4px;

    .marker_text_lg {
      color: #24245E;
      font-weight: bold;
      font-size: 48px;
      letter-spacing: 0;
      line-height: 62.4px;
    }
  }
  .square_text_box {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
  } 
  .square_text {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 62.4px;
    background-color: #24245E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
  }
  .square_img {
    width: 70px;
    height: 70px;
    background-color: #24245E;
    padding: 8px;
  }
}
.functions_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 24px;
  max-width: 1000px;
  margin: 38px auto 0;
}
.function {
  width: 468px;
  box-sizing: border-box;

  .img_wrapper {
    width: 100%;
    height: 280px;
    border-radius: 8px;
    border: 1px #ECEBF4 solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: white;
  
    img {
      display: block;
      height: 100%;
    }
    video {
      display: block;
      height: 100%;
    }
  }
  .function_title {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 16px;
  }
  .function_title_no {
    color: #D12F91;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.15px;
    line-height: 28px;
  }
  .function_title_text {
    color: black;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 33.6px;
  }
  .function_description {
    color: black;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25.6px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 767px) {
  .section_functions {
    background: transparent url('../../img/tiglivev2/needs_bg.png') 0% 0% repeat padding-box;
    background-size: 22.7vw 22.7vw;
    padding-bottom: 11vw;
    padding-top: 7.5vw;
  }
  .line_left, .line_right {
    width: 8vw;
    border-top: 1vw solid #24245E;
    margin-top: 6vw;
  }
  .line_right {
    transform: rotate(-45deg);
  }
  .text_with_dots {
    text-align: center;
    padding: 0 0.5vw;
  
    .top_dots {
      line-height: 4.3vw;
      margin-left: -3vw;
      letter-spacing: 0;

      span {
        font-size: 2vw;
        letter-spacing: 4.9vw;
        line-height: 4.3vw;
        transform: scale(0.75);
        margin-left: -3vw;
      }
    }
    .dots_space {
      margin-left: 6.3vw;
    }
    .section_top_text {
      font-size: 4.6vw;
      line-height: 1;
  
      span {
        font-size: 5.8vw;
        line-height: 1;
      }
    }
  }
  .success_main_text {
    flex-wrap: wrap;
    padding-inline: 4.2vw;
    justify-content: start;
    gap: 0;
    margin-top: 0;

    .marker_text {
      line-height: 2;
      font-size: 6vw;
      text-decoration-thickness: 3.4vw;
      text-underline-offset: -0.2vw;
      margin-top: 1vw;

      .marker_text_lg {
        font-size: 8.8vw;
        line-height: 16.3vw;
      }
    }
    .square_text_box {
      gap: 1vw;
      margin-left: auto;
    }
    .square_text {
      width: 13vw;
      height: 13vw;
      font-size: 9vw;
      line-height: 2;
    }
    .square_img {
      width: 13vw;
      height: 13vw;
      padding: 1.4vw;
    }
  }
  .functions_list {
    margin-top: 6.4vw;
    padding-inline: 4.2vw;
    gap: 6vw;
  }
  .function {
    width: 100%;

    .img_wrapper {
      height: 66.2vw;
      border-radius: 3vw;
      border: 0.3vw #ECEBF4 solid;
      gap: 3vw;
      padding: 1vw;
    }
    .function_title {
      gap: 1.7vw;
      margin-top: 3.6vw;
    }
    .function_title_no {
      font-size: 7.3vw;
      letter-spacing: 0;
      line-height: 1;
      white-space: nowrap;
    }
    .function_title_text {
      font-size: 5.3vw;
      letter-spacing: 0;
      line-height: 9vw;
      white-space: nowrap;
    }
    .function_description {
      font-size: 3.73vw;
      letter-spacing: 0;
      line-height: 6vw;
      margin-top: 1vw;
    }
  }
}
/* Functions パート */

/* Analytics パート */
.section_analytics {
  background-color: #FCFCFF;
  padding-top: 62px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.analytics_bubble {
  background-color: white;
  border: 1px solid #ECEBF4;
  border-radius: 8px;
  box-shadow: 0px 8px 32px #ECEBF4;
  box-sizing: border-box;
  padding: 28px 32px 40px;
  width: 74.4vw;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -31px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 50px 118px 0;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }

  .bubble_header {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .check_img {
    display: block;
    width: 72px;
    min-width: 72px;
    height: auto;
  }
  .bubble_title {

  }
  .bubble_title_top {
    font-size: 24px;
    color: #24245E;
    letter-spacing: 0.1px;
    line-height: 33.6px;
  }
  .bubble_title_bottom {
    font-size: 32px;
    color: #24245E;
    letter-spacing: 0;
    line-height: 33.6px;
    margin-top: 6px;
    font-weight: bold;

    span {
      font-size: 32px;
      color: #D12F91;
      letter-spacing: 0;
      line-height: 33.6px;
      font-weight: bold;
    }
  }
  .bubble_body {
    display: flex;
    gap: 16px;
    margin-top: 32px;
  }
  .analytics_card {
    border-radius: 8px;
    border: 2px solid #F5F3FB;
    flex-grow: 1;
    padding: 21px;
    width: 50%;

    .card_title {
      display: flex;
      align-items: center;
      gap: 18px;
    }
    .card_title_decoration {
      width: 24px;
      height: 4px;
      border-radius: 100px;
      background-color: #3AC0C4;
    }
    .card_title_text {
      color: #000000;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 33.6px;
      font-weight: bold;
    }
    .card_description {
      color: #000000;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22.4px;
      margin-top: 4px;
      
      &.no_margin {
        margin-top: 0;
      }
    }
    .card_img {
      width: 100%;
      margin-top: 14px;
    }
  }
}
.analytics_bottom_catch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 69px;
}
.bottom_catch_left {
  color: #24245E;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 38.4px;

  span {
    color: #D12F91;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 38.4px;
  }
}
.bottom_catch_right {
  color: #24245E;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 1px;
  line-height: 62.4px;
}
@media screen and (max-width: 767px) {
  .section_analytics {
    padding-top: 8.5vw;
    padding-bottom: 11.7vw;
    padding-inline: 2.8vw;
  }
  .analytics_bubble {
    border: 0.3vw solid #ECEBF4;
    border-radius: 2vw;
    box-shadow: 0px 2vw 8vw #ECEBF4;
    padding: 5.3vw 3vw 5vw;
    width: 100%;

    &::after {
      bottom: -6.5vw;
      border-width: 12vw 26vw 0;
    }

    .check_img {
      width: 12.5vw;
      min-width: 12.5vw;
    }
    .bubble_header {
      gap: 2vw;
    }
    .bubble_title_top {
      font-size: 3.8vw;
      letter-spacing: 0;
      line-height: 1;
    }
    .bubble_title_bottom {
      font-size: 5.2vw;
      letter-spacing: 0;
      line-height: 1.5;
      margin-top: 0.4vw;

      span {
        font-size: 5.2vw;
        letter-spacing: 0;
        line-height: 1.5;

      }
    }
    .bubble_body {
      gap: 4vw;
      margin-top: 4.3vw;
      flex-direction: column;
    }
    .analytics_card {
      border-radius: 2vw;
      border: 0.5vw solid #F5F3FB;
      padding: 3vw 4vw 4.5vw;
      width: 100%;

      .card_title {
        gap: 1.8vw;
      }
      .card_title_text {
        font-size: 4.3vw;
        letter-spacing: 0;
        line-height: 8.5vw;
      }
      .card_title_decoration {
        width: 4.6vw;
        height: 1vw;
        border-radius: 100px;
      }
      .card_description {
        font-size: 3.2vw;
        letter-spacing: 0;
        line-height: 5.4vw;
        margin-top: 0;
      }
      .card_img {
        margin-top: 4vw;
      }
    }
  }
  .analytics_bottom_catch {
    flex-direction: column;
    margin-top: 11.3vw;
  }
  .bottom_catch_left {
    font-size: 6.4vw;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: center;
    
    span {
      font-size: 6.4vw;
      letter-spacing: 0;
      line-height: 1.2;
    }
  }
  .bottom_catch_right {
    font-size: 9.5vw;
    letter-spacing: 0.1vw;
    line-height: 7vw;
    text-align: center;
  }
}
/* Analytics パート */

.middle_button_list {
  padding-top: 48px;
  padding-bottom: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: #24245E;
}
.middle_request_button {
  font-size: 20px;
  border-radius: 1000px;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  border: 2px solid #3AC0C4;
  color: #3AC0C4;
  width: 388px;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 0.38px;
  line-height: 60px;
  position: relative;

  &:hover {
    opacity: 1;
    color: white;
    background-color: #3AC0C4;

    .button_arrow_icon {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }
  }
  span {
    font-weight: bold;
    letter-spacing: 0.38px;
    line-height: 60px;
  }
  .button_arrow_icon {
    position: absolute;
    top: 36%;
    right: 14px;
    width: 24px;
    filter: invert(71%) sepia(99%) saturate(332%) hue-rotate(125deg) brightness(82%) contrast(85%);
  }
}
.middle_inquiry_button {
  font-size: 20px;
  border-radius: 1000px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  border-width: 0;
  border-style: solid;
  border-color: #D12F91;
  background: transparent linear-gradient(270deg, #A940C9 0%, #D12F91 100%) 0% 0% no-repeat padding-box;
  width: 388px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  padding-bottom: 2px;
  position: relative;

  &:hover {
    background: white;
    opacity: 1;
    color: #D12F91;
    border-width: 2px;

    .button_arrow_icon {
      filter: invert(25%) sepia(97%) saturate(2176%) hue-rotate(305deg) brightness(87%) contrast(87%);
    }
  }
  span {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0;
  }
  .button_arrow_icon {
    position: absolute;
    top: 36%;
    right: 14px;
    width: 24px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }
}
.for_pc {
  display: flex;
}
.for_sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .for_pc {
    display: none;
  }
  .for_sp {
    display: flex;
  }
  .middle_button_list {
    padding-top: 8.6vw;
    padding-bottom: 8.6vw;
    gap: 3.2vw;
    flex-direction: column;
    padding-inline: 4.3vw;
  }
  .middle_request_button {
    font-size: 3.2vw;
    width: 100%;
    height: 13.3vw;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1;

    span {
      font-size: 4.8vw;
      letter-spacing: -0.1vw;
      font-weight: bold;
      display: inline-flex;
      margin-right: 1vw;
    }
    .button_arrow_icon {
      top: 27%;
      right: 3.5vw;
      width: 6vw;
    }
  }
  .middle_inquiry_button {
    font-size: 4.8vw;
    width: 100%;
    height: 13.3vw;
    font-weight: bold;
    letter-spacing: -0.1vw;
    line-height: 1;
    flex-direction: row;

    span {
      font-size: 3.2vw;
      letter-spacing: 0;
      text-decoration: underline;
      text-decoration-color: white;
      text-decoration-thickness: 0.5vw;
      text-underline-offset: 1.3vw;
      margin-right: 2.3vw;
    }
    .button_arrow_icon {
      top: 27%;
      right: 4vw;
      width: 6vw;
    }
  }
}
.flow_background {
  background-color: #F5F3FB;
}

/* 既存ページのCSSの序列を無視してフォントサイズ指定を入れる */
@media screen and (max-width: 767px) {
  .sp_title {
    font-size: 4.3vw !important;
  }
  .sp_body {
    font-size: 3.2vw !important;
  }
}