@use "../setting/index" as *;

// --------------------------------------------------

.l_container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 30px;

	@include w600 {
		padding: 0 60px;
	}
}
