@use "../setting/index" as *;

// --------------------------------------------------

.l_footer {
	padding: 50px 0;
	background: #222;
}

.l_footer_title {
	margin-bottom: 30px;
	text-align: center;
}

.l_footer_address {
	margin-bottom: 30px;
	color: #FFF;
	font-style: normal;
	font-size: 10px;
	text-align: center;

	@include w600 {
		font-size: 14px;
	}
}

.l_footer_copyright {
	color: #CCC;
	text-align: center;
}