@use "../setting/index" as *;

// --------------------------------------------------

.l_pageTitle {
	padding: 30px 0;

	@include w600 {
		padding: 60px 0;
	}

	h1 {
		margin: 0;
		color: #FFF;
		font-size: 20px;

		@include w600 {
			font-size: 48px;
		}

		span {
			display: block;
			font-size: 12px;

			@include w600 {
				font-size: 24px;
			}
		}
	}
}
