@use "../setting/index" as *;

// --------------------------------------------------

.p_download_pageTitle {
	background: url(../img/form/pageTitle_background_download.webp) no-repeat center / cover;
}

.p_download_inputNote {
	margin-bottom: 50px;

	p {
		margin: 0 0 1em;
	}
}

.p_download_inputContainer {
	max-width: 750px;
	margin: 0 auto;

	@include w1000 {
		max-width: 100%;
	}
}

.p_download_inputLayout {
	@include w1000 {
		display: flex;
		gap: 60px;
	}

	> * {
		@include w1000 {
			flex-basis: calc((100% - 60px) / 2);
		}
	}
}

.mw_wp_form_confirm {
	.p_download_inputLayout {
		display: block;
	}
}

.p_download_description {
	margin-bottom: 50px;

	@include w1000 {
		margin-bottom: 0;
	}
}

.p_download_descriptionTitle {
	margin: 0 0 20px;
	font-weight: bold;
	font-size: 20px;
}

.p_download_descriptionImage {
	margin-bottom: 40px;
	overflow: hidden;
	border-radius: 20px;

	@include w600 {
		border-radius: 30px;
	}

	img {
		width: 100%;
	}
}

.p_download_descriptionContent {
	padding: 20px;
	border: 1px solid #019ADE;
	border-radius: 20px;

	@include w600 {
		padding: 20px 40px;
		border-radius: 30px;
	}

	p {
		margin: 0;
		font-weight: bold;
	}

	ul {
		margin: 0;
		padding-left: 20px;
	}
}