$color_black: #000;
$color_white: #FFF;
$color_darkBlue: #24245E;
$color_lightBlue: #3AC0C4;

$background_black: #000;
$background_white: #FFF;
$background_darkBlue: #24245E;
$background_lightBlue: #F2F5F9;
$background_orange: #FF580D;
$background_gray: #EDEEF0;
$background_gradation: #F9D92B, #18E0E6;

$color_border: #CCC;

$transition_link: 0.2s;
