@use "../setting/index" as *;

// --------------------------------------------------

@mixin textAlign {
	&_left {
		text-align: left;
	}

	&_right {
		text-align: right;
	}

	&_center {
		text-align: center;
	}

	&_justify {
		text-align: justify;
	}
}

.u_textAlign {
	@include textAlign;

	&_w400 {
		@include w400 {
			@include textAlign;
		}
	}

	&_w600 {
		@include w600 {
			@include textAlign;
		}
	}

	&_w800 {
		@include w800 {
			@include textAlign;
		}
	}

	&_w1000 {
		@include w1000 {
			@include textAlign;
		}
	}

	&_w1200 {
		@include w1200 {
			@include textAlign;
		}
	}
}
