@use "../setting/index" as *;

// --------------------------------------------------

.new_case {
  padding: 20vw 3vw;
  background: #EDEEF0;

  @include w1000 {
    padding: 75px 60px;
  }

  .new_case_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .c_titleOrnament_case {
      font-size: 5.5vw;
      color: #24245E;
      letter-spacing: 0.67px;
      text-align: center;

      @include w1000 {
        font-size: 21px;
      }
      
      &::after {
        display: block;
        margin: 0;
        width: 15vw;
        height: 0.8vw;
        border-radius: 10px;
        background: linear-gradient(100deg, #F9D92B, #18E0E6);
        content: "";

        @include w1000 {
          width: 76px;
          height: 3px;
        }
      }
    }
  }
  
  .case_title {
    margin: 0;
    color: #24245E;
    letter-spacing: 0.96px;
    font-weight: bold;
    font-size: 6.4vw;
    margin-top: 2vw;
    margin-bottom: 13.6vw;

    @include w1000 {
      font-size: 30px;
      margin-top: 22px;
      margin-bottom: 17px;
    }
  }
  
  .p_case_description {
    margin: 0;
    font-size: 4.1vw;
    letter-spacing: 0.64px;
    line-height: 6vw;

    @include w1000 {
      font-size: 20px;
      line-height: 28px;
    }
  }
  
  .p_case_note {
    margin: 0;
    font-size: 3.2vw;
    letter-spacing: 0.51px;
    margin-bottom: 7vw;
    margin-top: 3.5vw;

    @include w1000 {
      font-size: 16px;
      margin-bottom: 48px;
      margin-top: 16px;
    }
  }

  #tig-creator-frame {
    width: 100%;
  }
}
