@use "../setting/index" as *;

// --------------------------------------------------

.p_composition {
	padding: 80px 0;
	background: $background_gray;

	@include w600 {
		padding: 120px 0;
	}
}

.p_composition_container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 30px;

	@include w600 {
		padding: 0 80px;
	}
}

.p_composition_body {
	margin-top: 60px;

	@include w600 {
		margin-top: 100px;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.p_composition_imageSp {
	@include w600 {
		display: none;
	}
}

.p_composition_imagePc {
	display: none;

	@include w600 {
		display: block;
	}
}