@use "../setting/index" as *;

// --------------------------------------------------

.p_example {
	padding: 60px 0 0;
	overflow: hidden;
	background: #F6F7F8 url(../img/tigcreator/example_background.svg) center / cover;

	@include w600 {
		padding: 100px 0 0;
	}

	@include w1200 {
		padding: 120px 0 0;
	}
}

.p_example_container {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 30px;

	@include w600 {
		padding: 0 80px;
	}

	@include w1600 {
		max-width: 1440px;
	}
}

.p_example_layout {
	position: relative;
	max-width: 600px;
	margin: 0 auto;

	@include w1200 {
		display: flex;
		justify-content: flex-end;
		max-width: none;
	}
}

.p_example_body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateY(20px);
	height: auto;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background: rgba($background_white, 0.75);

	@include w1200 {
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(0);
		width: 60%;
	}

	> * {
		padding-right: 10%;
		padding-left: 10%;

		@include w600 {
			padding-right: 19%;
			padding-left: 19%;
		}
	}

	.p_example_titleOrnament {
		@include w1200 {
			text-align: left;
		}

		&::after {
			@include w1200 {
				margin-right: 0;
				margin-left: 0;
			}
		}
	}

	.p_example_title {
		@include w1200 {
			text-align: left;
		}
	}

	p {
		margin: 20px 0 0;
		color: #333;
		font-size: min(14px, 3.12vw);
		text-align: center;

		@include w600 {
			margin: 50px 0 0;
			font-size: 16px;
		}

		@include w1200 {
			text-align: justify;
		}

		.p_example_brSp {
			@include w600 {
				display: none;
			}
		}
	}
}

.p_example_image {
	position: relative;
	z-index: 1;
	text-align: right;

	@include w1200 {
		width: 42%;
	}

	img {
		width: 90%;
		height: auto;

		@include w1200 {
			width: 100%;
		}
	}
}