@use "../setting/index" as *;

// --------------------------------------------------

.p_flow {
	padding: 80px 0;

	@include w600 {
		padding: 120px 0;
	}
}

.p_flow_container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 30px;

	@include w600 {
		padding: 0 80px;
	}
}

.p_flow_list {
	list-style: none;
	max-width: 400px;
	margin: 60px auto 0;
	padding: 0;

	@include w600 {
		margin: 100px auto 0;
	}

	@include w1000 {
		display: flex;
		gap: 60px;
		max-width: none;
	}

	li {
		display: flex;
		border-radius: 12px;
		background: $background_gray;
		text-align: center;

		@include w1000 {
			display: block;
			flex-grow: 1;
			border-radius: 16px;
		}

		&:not(:last-of-type) {
			position: relative;
			margin-bottom: 40px;

			@include w1000 {
				margin-bottom: 0;
			}

			&::after {
				display: block;
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate(-50%, 10px);
				width: 39px;
				height: 21px;
				background: url(../img/tigcreator/flow_arrow_sp.webp) center / cover;
				content: "";

				@include w1000 {
					top: 50%;
					left: 100%;
					transform: translate(15px, -50%);
					width: 31px;
					height: 51px;
					background: url(../img/tigcreator/flow_arrow_pc.webp) center / cover;
				}
			}
		}

		h3 {
			display: flex;
			flex-basis: 100px;
			flex-direction: column;
			justify-content: center;
			margin: 0;
			border-radius: 12px 0 0 12px;
			background: $background_black;
			color: $color_white;
			font-size: 14px;
			line-height: 1;
			font-family: "ITC Avant Garde Gothic Pro", "Noto Sans JP", sans-serif;

			@include w1000 {
				padding: 30px 0 20px;
				border-radius: 16px 16px 0 0;
				font-size: 18px;
			}

			b {
				display: block;
				margin-top: 10px;
				font-size: 50px;

				@include w1000 {
					font-size: 64px;
				}
			}
		}

		p {
			flex-basis: calc(100% - 100px);
			margin: 0;
			padding: 30px 0;
			color: $color_darkBlue;
			font-weight: bold;
			font-size: min(24px, 6vw);
			line-height: 1.5;

			@include w1000 {
				padding: 30px 0 60px;
				font-size: clamp(16px, 2vw, 30px);
			}

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 3em;
			}

			img {
				width: 160px;
				max-width: 80%;
				height: auto;

				@include w1000 {
					width: 80%;
				}
			}
		}
	}
}
