@use "../setting/index" as *;

// --------------------------------------------------

.p_hero {
	position: relative;
	overflow: hidden;
	background: $background_lightBlue;
	padding-bottom: 2.5vw;
	// aspect-ratio: 375/769;
	aspect-ratio: 408/769;

	@include w1000 {
		aspect-ratio: auto;
	}
}

.p_hero_catchcopy01 {
	position: absolute;
  width: 90%;
	z-index: 5;
	opacity: 0;
	width: 100%;
	margin: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	@include w1000 {
		position: relative;
		top: 0;
		left: 0;
		margin-top: 72px;
		padding-top: 2.7vw;
		margin-left: 11.6vw;
		text-align: left;
		justify-content: left;
		align-items: start;
	}

	.copy_sub {
		border-bottom: 4px solid #000;
		width: fit-content;
		font-size: 4.3vw;
		font-weight: bold;

		@include w1000 {
			font-size: 1.56vw;
			line-height: 3vw;
		}
	}

	.copy_main {
		font-weight: bold;
		font-size: 9.1vw;
		line-height: 11vw;
    margin-top: 3vw;

		p {
			margin: 0;
		}

		@include w1000 {
			font-size: 4.45vw;
			letter-spacing: 0.02vw;
			line-height: 1.15;
			margin-top: 1.2vw;
		}
	}
}

.stats-container {
	margin-top: 88vw;
  display: flex;
  align-items: center;
  /* 各項目を均等配置 */
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 1vw 2vw rgba(0, 0, 0, 0.14);
  width: 93.5%;
	padding: 2.4vw 4vw 3.1vw;
  height: auto;
  font-weight: bold;
  z-index: 5;

	@include w1000 {
		justify-content: center;
		width: 39.3vw;
		height: 7.7vw;
		margin-top: 3vw;
		padding: 1vw 2.4vw;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
	}

	.status_cel {
	}

	.status_text {
		margin: 0;
		text-align: center;
		font-size: 2.5vw;
		font-weight: bold;
		white-space: nowrap;

		@include w1000 {
			font-size: 1.08vw;
		}
	}

	.status_ratio {
		margin: 0;
		text-align: center;
		font-size: 5.2vw;
		font-weight: bold;
		white-space: nowrap;

		@include w1000 {
			font-size: 2vw;
		}

		.highlight-number {
			color: #FF580D;
			font-size: 10vw;
			line-height: 12vw;
			letter-spacing: -0.3vw;

			@include w1000 {
				font-size: 3.5vw;
				line-height: 2vw;
				letter-spacing: -0.1vw;
			}
		}
	}

	.separator {
		min-width: 2vw;
    height: 20.5vw;
    background-image: radial-gradient(circle, #ECEBF4 0.7vw, transparent 0.7vw);
    background-size: 2vw 3.5vw;
    margin: 0;
    margin-left: 1.6vw;
    margin-right: 1.8vw;
    margin-top: -1vw;

		@include w1000 {
			min-width: 6px;
			height: 100%;
			background-image: radial-gradient(circle, #ECEBF4 3px, transparent 3px);
			background-size: 6px 12.5px;
			margin: 0;
			margin-left: 19px;
			margin-right: 16px;
		}
	}
}

.title-buttons {
  display: flex;
  flex-direction: column;
	margin-top: 4.5vw;
	gap: 3vw;
	width: 91%;

	@include w1000 {
		width: auto;
		flex-direction: row;
		gap: 1.7vw;
		margin-top: 3vw;
	}

	.primary-button {
		font-size: 18px;
		border-radius: 1000px;
		border: none;
		cursor: pointer;
		text-align: center;
		background-color: #FF580D;
		color: #ffffff;
		width: 100%;
		height: 13.3333vw;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		@include w1000 {
			border-radius: 1000px;
			width: 21.4vw;
			height: 6.1vw;
			flex-direction: column;
		}
	}

	.secondary-button {
		font-size: 18px;
		border-radius: 1000px;
		border: none;
		cursor: pointer;
		text-align: center;
		background-color: #fff;
		border: 2px solid #000000;
		width: 100%;
		height: 13.3333vw;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		@include w1000 {
			border-radius: 1000px;
			width: 21.4vw;
			height: 6.1vw;
		}
	}

	.small-text-button {
		font-size: 3.3vw;
		font-weight: normal;
		margin: 0;
		margin-left: 1vw;

		@include w1000 {
			margin: 0;
			font-size: 1vw;
		}
	}

	.large-text-button {
		font-size: 5vw;
		font-weight: bold;
		margin: 0;
		margin-left: 1vw;

		@include w1000 {
			margin: 0;
			font-size: 1.6vw;
		}
	}
}

.p_hero_paint {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	@include w1000 {
		top: 26%;
	}

	.paint {
		position: absolute;
		top: 0;
		right: -20%;
		width: 500%;
		height: auto;

		@include w1000 {
			right: 0;
			width: 100%;
		}
	}
}

.p_hero_image01 {
  display: inline-block;
	position: absolute;
	top: 22.6%;
	left: 50.7%;
	z-index: 2;
	transform: translateX(-50%);
	width: 37.5vw;
  height: auto;
  border-radius: 20px;

	@include w1000 {
		left: 65.8%;
		top: 23.8%;
		transform: translateX(0);
		width: 13.2vw;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.p_hero_image02 {
  position: absolute;
  bottom: 0;
	top: 21%;
	left: 67.6%;
	z-index: 1;
	transform: translateX(-50%);
	width: 120vw;

	@include w1000 {
		left: 57.1%;
		top: 21.6%;
		transform: translateX(0);
		width: 42.2vw;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.p_hero_image03 {
  position: absolute;
  bottom: 0;
	top: 21%;
	left: 67%;
	z-index: 4;
	transform: translateX(-50%);
	width: 118vw;

	@include w1000 {
		left: 57.2%;
		top: 21.5%;
		transform: translateX(0);
		width: 42vw;
	}

	img {
		opacity: 1;
		width: 100%;
		height: auto;
	}
}

@keyframes heroScroll {
	0% {
		top: -100%;
	}
	100% {
		top: 100%;
	}
}

.p_hero_scroll {
	display: none;
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 4;
	transform: translateX(-50%);
	font-size: 16px;
	line-height: 1;
	font-family: "Univers", "Noto Sans JP", sans-serif;

	@include w1000 {
		display: block;
	}

	a {
		display: block;
		color: $color_black;
		text-decoration: none;

		span {
			display: block;
			position: relative;
			height: 30px;
			margin-top: 10px;
			overflow: hidden;

			&::after {
				display: block;
				position: relative;
				width: 1px;
				height: 20px;
				margin: 0 auto;
				background: $background_black;
				content: "";
				animation: heroScroll 1.2s linear infinite;
			}
		}
	}
}

.p_company_logos {
	padding-block: 6.2vw;

	@include w1000 {
		padding-block: 24px;
	}

	.logo_list {
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 4vw;
		overflow-x: scroll;
		padding-inline: 4vw;

		@include w1000 {
			flex-wrap: nowrap;
			justify-content: center;
			gap: 16px;
			padding-inline: 0;
			overflow-x: auto;
		}
	}

	.logo_col {
		height: 12.8vw;
		flex-shrink: 0;

		img {
			height: 100%;
		}

		@include w1000 {
			height: 64px;
		}
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes hero_image03 {
	0% {
		opacity: 0;
		transform: translateX(-20%);
	}
	72% {
		opacity: 1;
		transform: translateX(0);
	}
	86% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}

.p_hero {
	&.js_active {
		.p_hero_catchcopy01 {
			animation: fade 0.2s linear 1s forwards;
		}

		.p_hero_catchcopy02 {
			animation: fade 0.2s linear 2s forwards;
		}

		.p_hero_button {
			animation: fade 0.2s linear 2s forwards;
		}

		.p_hero_image02 img {
			animation: fade 0.2s ease 1s forwards;
		}

		.p_hero_image03 img {
			animation: hero_image03 1.4s ease 0s forwards;
		}
	}
}