@use "../setting/index" as *;

// --------------------------------------------------

.p_sub_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 19vw 0 10.5vw;
  color: #ffffff;
  background: #15B5B9 0% 0% no-repeat padding-box;

  @include w1000 {
    padding: 66px 0 32px;
  }
}

.bunner_text_stack {
  display: block;

  @include w1000 {
    display: flex;
  }
}

.p_sub_banner_text {
  margin: 0;
  font-weight: bold;
  color: #FAFF75;
  font-size: 7.5vw;
  line-height: 10.5vw;

  @include w1000 {
    font-size: 36px;
    letter-spacing: 0.12px;
    line-height: 67.2px;
  }
}

.p_sub_banner_text span {
  color: #FCFCFF;
}

.p_sub_banner_logo {
  width: 93vw;
  margin-top: 2vw;

  @include w1000 {
    width: 454px;
    margin-top: 0;
  }
}
