@use "../setting/index" as *;

// --------------------------------------------------

.p_middle_suggestion {
  background-color: #000000;
  padding: 8.4vw 4vw 8.4vw;

  @include w1000 {
    padding: 48px 0 56px;
  }
}

/* コンテナ */
.button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3.5vw;

  @include w1000 {
    gap: 20px;
    flex-direction: row;
  }
}

/* 資料請求ボタンのスタイル */
.request-button {
  background-color: #ff6a00;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  border-radius: 100px;
  width: 100%;
  height: 13vw;

  @include w1000 {
    width: 388px;
    height: 80px;
  }
}

/* お問い合わせボタンのスタイル */
.contact-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  color: black;
  position: relative;
  width: 100%;
  height: 13.5vw;
  border-radius: 100px;

  @include w1000 {
    width: 388px;
    height: 80px;
  }
}

/* 小さい文字のスタイル */
.small-text {
  display: block;
  line-height: 0;
  font-size: 3.3vw;

  @include w1000 {
    font-size: 12px;
    margin-bottom: 24px;
  }
}

/* 大きい文字のスタイル */
.large-text {
  display: block;
  line-height: 0;
  font-size: 5vw;

  @include w1000 {
    font-size: 20px;
  }
}

/* 矢印のスタイル */
.button_arrow_icon {
  position: absolute;
  top: 35%;
  right: 20px;
  width: 24px;
  display: none;

  @include w1000 {
    display: block;
  }
}

.pc_text {
  display: none;

  @include w1000 {
    display: block;
  }
}

.sp_text {
  display: flex;
  align-items: center;
  justify-content: center;

  @include w1000 {
    display: none;
  }

  .small-text,
  .large-text {
    margin-left: 1vw;
  }
}
