@use "../setting/index" as *;

// --------------------------------------------------

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.c_animation_fadeIn {
	opacity: 0;
	transform: translateY(100px);

	&.js_active {
		animation: fadeIn 1s forwards;
	}
}

// --------------------------------------------------

@keyframes splitObject {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.c_animation_splitObject {
	> * {
		opacity: 0;
		transform: translateY(100px);
	}

	&.js_active > * {
		animation: splitObject 1s forwards;
	}
}
