body {
  color: #000;
  font-size: 14px;
  line-height: 2;
  font-family: "Noto Sans JP", sans-serif;
  text-align: justify;
}
@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: #0280F9;
}
@media (hover: hover) and (pointer: fine) {
  a:hover {
    opacity: 0.8;
  }
}

.l_header {
  padding: 30px;
  background: #F4F4F5;
}
@media (min-width: 600px) {
  .l_header {
    padding: 40px 60px;
  }
}
@media (min-width: 1400px) {
  .l_header {
    padding: 40px 100px;
  }
}
.l_header h1 {
  margin: 0;
  font-size: 10px;
  line-height: 1;
  text-align: center;
}
@media (min-width: 600px) {
  .l_header h1 {
    text-align: left;
  }
}
.l_header h1 img {
  width: auto;
  height: 30px;
}
@media (min-width: 600px) {
  .l_header h1 img {
    height: 48px;
  }
}

.l_footer {
  padding: 50px 0;
  background: #222;
}

.l_footer_title {
  margin-bottom: 30px;
  text-align: center;
}

.l_footer_address {
  margin-bottom: 30px;
  color: #FFF;
  font-style: normal;
  font-size: 10px;
  text-align: center;
}
@media (min-width: 600px) {
  .l_footer_address {
    font-size: 14px;
  }
}

.l_footer_copyright {
  color: #CCC;
  text-align: center;
}

.l_pageTitle {
  padding: 30px 0;
}
@media (min-width: 600px) {
  .l_pageTitle {
    padding: 60px 0;
  }
}
.l_pageTitle h1 {
  margin: 0;
  color: #FFF;
  font-size: 20px;
}
@media (min-width: 600px) {
  .l_pageTitle h1 {
    font-size: 48px;
  }
}
.l_pageTitle h1 span {
  display: block;
  font-size: 12px;
}
@media (min-width: 600px) {
  .l_pageTitle h1 span {
    font-size: 24px;
  }
}

.l_pageBody {
  padding: 50px 0 100px;
}
@media (min-width: 600px) {
  .l_pageBody {
    padding: 100px 0;
  }
}

.l_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 600px) {
  .l_container {
    padding: 0 60px;
  }
}

.c_form input {
  border: 1px solid #9D9D9D;
  border-radius: 10px;
  font-size: 16px;
  line-height: 2;
  font-family: "Noto Sans JP", sans-serif;
}
.c_form input[type=text] {
  width: 100%;
  max-width: 100%;
  padding: 13px 29px;
}
.c_form input[type=email] {
  width: 100%;
  max-width: 100%;
  padding: 13px 29px;
}
.c_form input:focus {
  outline: none;
}
.c_form .js_error input {
  border: 1px solid #F00;
  background: #FFD9D9;
}
.c_form textarea {
  width: 100%;
  padding: 13px 29px;
  border: 1px solid #9D9D9D;
  border-radius: 10px;
  font-size: 16px;
  line-height: 2;
  font-family: "Noto Sans JP", sans-serif;
  vertical-align: bottom;
}
.c_form textarea:focus {
  outline: none;
}
.c_form .js_error textarea {
  border: 1px solid #F00;
  background: #FFD9D9;
}
.c_form select {
  width: 100%;
  padding: 13px 29px;
  border: 1px solid #9D9D9D;
  border-radius: 10px;
  background: #FFF;
  font-size: 16px;
  line-height: 2;
  font-family: "Noto Sans JP", sans-serif;
}
.c_form select:focus {
  outline: none;
}
.c_form .js_error select {
  border: 1px solid #F00;
  background: #FFD9D9;
}
.c_form button {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
}
.c_form button:focus {
  outline: none;
}

.js_error .c_form_error {
  background: #FFD9D9;
}

.mw_wp_form_confirm .c_form {
  max-width: 750px;
  margin: 0 auto;
}

.mw_wp_form_complete .c_form {
  max-width: 750px;
  margin: 0 auto;
}

.c_form_list {
  margin: 0;
}
.c_form_list > dt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 1em;
  margin-bottom: 10px;
  font-weight: bold;
}
.c_form_list > dd {
  margin: 0;
}
.c_form_list > dd:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #D5D5D5;
}

@media (min-width: 600px) {
  .mw_wp_form_confirm .c_form_list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 600px) {
  .mw_wp_form_confirm .c_form_list > dt {
    flex-basis: 250px;
    margin-bottom: 0;
  }
  .mw_wp_form_confirm .c_form_list > dt:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D5D5D5;
  }
}
@media (min-width: 600px) {
  .mw_wp_form_confirm .c_form_list > dd {
    flex-basis: calc(100% - 250px);
  }
}
.mw_wp_form_confirm .c_form_list > dd:not(:last-of-type) {
  padding-bottom: 20px;
}

.c_form_iconRequired {
  display: inline-block;
  width: 40px;
  height: 18px;
  border-radius: 9px;
  background: #F00;
  color: #FFF;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
@media (min-width: 600px) {
  .c_form_iconRequired {
    width: 50px;
    height: 22px;
    border-radius: 11px;
    font-size: 14px;
    line-height: 22px;
  }
}

.c_form_teamNote {
  flex-basis: 100%;
}

.c_form_checkboxLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 2em;
}
@media (min-width: 600px) {
  .c_form_checkboxLayout {
    gap: 0 2em;
  }
}
.c_form_checkboxLayout > span {
  flex-basis: 100%;
}
@media (min-width: 600px) {
  .c_form_checkboxLayout > span {
    flex-basis: auto;
  }
}
.c_form_checkboxLayout > span.horizontal-item + .horizontal-item {
  margin-left: 0;
}
.c_form_checkboxLayout.half > span {
  flex-basis: 45%;
}
@media (min-width: 600px) {
  .c_form_checkboxLayout.half > span {
    flex-basis: auto;
  }
}

.c_form_sendContainer {
  margin-top: 50px;
  padding-top: 40px;
  border-top: 1px solid #D5D5D5;
  text-align: center;
}
@media (min-width: 600px) {
  .c_form_sendContainer {
    margin-top: 100px;
  }
}
.c_form_sendContainer p {
  margin: 0 0 1em;
  text-align: justify;
}
@media (min-width: 600px) {
  .c_form_sendContainer p {
    text-align: center;
  }
}

.mw_wp_form_confirm .c_form_sendContainer {
  margin-top: 20px;
  padding-top: 20px;
}

.c_form_agree {
  margin: 30px 0 0;
}
.c_form_agree > dt {
  margin-bottom: 10px;
  font-weight: bold;
}
.c_form_agree > dd {
  margin: 0;
}
.c_form_agree .mwform-checkbox-field label {
  font-weight: bold;
}

.mw_wp_form_confirm .c_form_agree {
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #D5D5D5;
  text-align: left;
}
@media (min-width: 600px) {
  .mw_wp_form_confirm .c_form_agree {
    display: flex;
  }
}
@media (min-width: 600px) {
  .mw_wp_form_confirm .c_form_agree > dt {
    flex-basis: 250px;
    margin-bottom: 0;
  }
}
@media (min-width: 600px) {
  .mw_wp_form_confirm .c_form_agree > dd {
    flex-basis: calc(100% - 250px);
  }
}

.c_form_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 40px 0 0;
}
.c_form_button .g-recaptcha {
  margin: 0;
}

.mw_wp_form_confirm .c_form_button {
  margin: 50px 0 0;
}

.c_form_confirmButton {
  width: 300px;
  max-width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  background: #019ADE;
  color: #FFF;
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .c_form_confirmButton:hover {
    opacity: 0.8;
  }
}

.c_form_submitButton {
  width: 300px;
  max-width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  background: #019ADE;
  color: #FFF;
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .c_form_submitButton:hover {
    opacity: 0.8;
  }
}

.c_form_backButton {
  border: none;
  background: none;
  color: #019ADE;
  text-decoration: underline;
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .c_form_backButton:hover {
    opacity: 0.8;
  }
}

.mw_wp_form_input .c_form_inputNone {
  display: none;
}

.mw_wp_form_confirm .c_form_confirmNone {
  display: none;
}

.c_form_completeTitle {
  margin-top: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}
@media (min-width: 600px) {
  .c_form_completeTitle {
    font-size: 34px;
  }
}

.p_download_pageTitle {
  background: url(../img/form/pageTitle_background_download.webp) no-repeat center/cover;
}

.p_download_inputNote {
  margin-bottom: 50px;
}
.p_download_inputNote p {
  margin: 0 0 1em;
}

.p_download_inputContainer {
  max-width: 750px;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  .p_download_inputContainer {
    max-width: 100%;
  }
}

@media (min-width: 1000px) {
  .p_download_inputLayout {
    display: flex;
    gap: 60px;
  }
}
@media (min-width: 1000px) {
  .p_download_inputLayout > * {
    flex-basis: calc((100% - 60px) / 2);
  }
}

.mw_wp_form_confirm .p_download_inputLayout {
  display: block;
}

.p_download_description {
  margin-bottom: 50px;
}
@media (min-width: 1000px) {
  .p_download_description {
    margin-bottom: 0;
  }
}

.p_download_descriptionTitle {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 20px;
}

.p_download_descriptionImage {
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 20px;
}
@media (min-width: 600px) {
  .p_download_descriptionImage {
    border-radius: 30px;
  }
}
.p_download_descriptionImage img {
  width: 100%;
}

.p_download_descriptionContent {
  padding: 20px;
  border: 1px solid #019ADE;
  border-radius: 20px;
}
@media (min-width: 600px) {
  .p_download_descriptionContent {
    padding: 20px 40px;
    border-radius: 30px;
  }
}
.p_download_descriptionContent p {
  margin: 0;
  font-weight: bold;
}
.p_download_descriptionContent ul {
  margin: 0;
  padding-left: 20px;
}

.p_inquiry_inputContainer {
  max-width: 750px;
  margin: 0 auto;
}

.p_inquiry_inputNote {
  margin-bottom: 50px;
}
.p_inquiry_inputNote p {
  margin: 0 0 1em;
}

.c_tigCreator_pageTitle {
  background: url(../img/form/pageTitle_background_tigCreator.webp) no-repeat center/cover;
}/*# sourceMappingURL=form.css.map */